<a href="https://colab.research.google.com/github/VinodhkumarBaskaran/Count-the-consecutive-letter-in-a-string/blob/master/Count_the_repeated_letter_in_sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def letter_conse_count():
  string=raw_input("Enter string: ")
  count=1
  output=""
  if len(string)>1:
      for i in range(1,len(string)):
        if string[i-1]==string[i]:
            count+=1
        else :
             output += string[i-1]+str(count)
             count=1
      output += (string[i]+str(count))
      print(output)

In [111]:
letter_conse_count()

Enter string: yyyyoounnnghyytuio
y4o2u1n3g1h1y2t1u1i1o1